/* Let's add some styles:
    Change the font color
    Add a background image
    Make the text underlined
*/

h1 {
  color: orange;
  text-decoration: underline;
  text-align: center;
}
img {
  display: block;
  max-width: 80%;
  height: auto;
}
.dish-holder {
  width: 500px;
  display: inline-block;
}
.row {
  margin: 0 50px 50px 50px;
}
.f-r {
  float: right;
}
.f-l {
  float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
